@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #0f1a53;
  --black: #222222;
  --grey-1: #f7f7f7;
  --grey-2: #eeeeee;
  --grey-3: #505050;
  --grey-4: #696969;
  --grey-5: #ececec;
  --white: #ffffff;
  --red: #e35b55;
  --blue: #6393cd;
  --yellow: #f7cd47;
  --body-16regular: 400 1rem/1.5rem 'Inter', sans-serif;
  --body-16bold: 700 1rem/1.25rem 'Inter', sans-serif;
  --body-14regular: 400 0.875rem/1.125rem 'Inter', sans-serif;
  --body-14regular_u: 500 0.875rem/1.25rem 'Inter', sans-serif;
  --body-8regular: 400 0.5rem/0.75rem 'Inter', sans-serif;
  --caption-12bold: 700 0.75rem/1rem 'Inter', sans-serif;
  --caption-12regular: 400 0.75rem/1rem 'Inter', sans-serif;
  --caption-12regular_u: 400 0.75rem/1.25rem 'Inter', sans-serif;
  --title-40medium: 500 2.5rem/normal 'Inter', sans-serif;
  --title-24medium: 500 1.5rem/2rem 'Inter', sans-serif;
  --title-18medium: 500 1.125rem/normal 'Inter', sans-serif;
  --title-medium16: 500 1rem/1.5rem 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: var(--body-16regular);
}

h1 {
  color: var(--primary);
  font: var(--title-40medium);
}

h2 {
  color: var(--red);
  font: var(--title-24medium);
}

p {
  color: var(--blue);
  font: var(--title-24medium);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}